.whiteboard{
  width: 50vw;
  height: calc(100vh - 3rem);
}
.TopNav{
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.left-dropdown {
  position: absolute;
  left: 0;
  margin-left: 1.5rem;
}
.right-timer {
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.submit-btn{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 width: 5rem;
 height: 2rem;
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
 background-color: #27BA71;
 border-radius: 5px;
 border: 2px solid #1a7246;
 box-shadow: 0px 2px 0.5px 1px #115031;
 transition: transform .1s;
}

.submit-btn:hover{
  transform: translateX(-50%) scale(1.025);
}

.pauseBtn{
  width: 2rem;
  height: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: transform .1s;
}

.pauseBtn:hover{
  transform: scale(1.15);
}

.timer{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
}

.topic-dropdown{
  background-color: #2A2A2A;
  height: 2rem;
  width: 7.5rem;
  border: 2px solid #626262;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}

.problem{
  width: 50vw;
}
.container{
  display: flex;
}