.whiteboard{
  width: 50vw;
  height: calc(100vh - 3rem);
}
.TopNav{
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.submit-btn{
 width: 5rem;
 height: 2rem;
}

.timer{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.problem{
  width: 50vw;
}
.container{
  display: flex;
}